# Directories
.vs/
.idea/
bin/
bin-int/
!Eis/vendor/premake/bin/

cache/

# Files
*.user
*.vcxproj
*.filters
*.sln
*.json
imgui.ini

Makefile
*.o
*.tmp

*.log

shaderc_combined.lib
shaderc_combinedd.lib